.sidebar {
    /* background-color: #cfd0d1; */
    /* background-color: #1C1C28; */
    background-color: #181825;
    /* width: 40vh; */
    width: 20%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out; 
    /* margin-top: 20%; */
    position: fixed;
    margin-top: 66px;
  }
  
  .sidebar-button {
    width:80%;
    margin: 0px;
    padding: 10px 20px;
    border: none;
    /* background-color: #cfd0d1; */
    color: #000000;
    font-family: "McLaren", cursive;
    font-size: 18px;
    /* font-weight: 400; */
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: white;
  }
  
  .sidebar-button:hover {
    /* background-color: #8e8c8c; */
    background-color: #28293D;
    transform: scale(1.025);
  }

  .sidebar-profile-picture {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }

  .sidebar-user-details {
    text-align: center;
    background-color: #28293D;
    color: white;
    padding: 10% 10% 2% 10%;
    margin-top: 0;
    width: 80%;
    margin-bottom: 5%;
    border-radius: 10px;
  }
  
  /* .sidebar-user-profiile-follow {
    display: flex;
    justify-content: space-evenly;
    
  } */