.self-message-container {
  display: flex;
  flex-direction: row-reverse; /* Reverse the direction to make it appear on the right */
  align-items: center;
  margin-left: auto; /* Push to the right by setting margin-left to auto */
  margin-right: 10px;
  margin-bottom: 10px;
}

.self-message-box {
  background-color: aqua;
  border-radius: 15px;
  margin-top: 10px;
  max-width: 45%;
  /* word-wrap: break-word; Enable word wrapping for long words */
}

.self-message-p {
  margin: 5px 10px;
  font-size: 15px;
}

.self-timeStamp {
  margin: 5px;
  font-size: 0.75rem;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 90%;
}
