/* MessageSelf.css */

.self-message-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.self-message-box {
  /* background-color: aqua; */
  background-color:#A2FF86;
  border-radius: 15px;
  margin-top: 10px;
  max-width: 45%;
}

.self-message-p {
  margin: 5px 10px;
  font-size: 15px;
  word-wrap: break-word;
}

.self-timeStamp {
  margin: 5px;
  font-size: 0.75rem;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex; /* Add flex display to align timestamp */
  justify-content: flex-end;
}

.time {
  margin: 0;
  margin-left: 5px;
}

.am-pm {
  margin-left: 2px;
}
