.project-image {
  width: 600px;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
}

.project-details-page {
  color: white;
  padding: 0 40px;
  margin-bottom: 20px;
}

.project-details-header {
  display: flex;
  justify-content: space-between;
  color: white;
  /* background-color: blue; */
  margin-top: 80px;
}

.project-details-header img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-top: 12px;
  /* margin-left: 20px; */
  margin-right: 20px;
}

.project-details-header-left {
  display: flex;
}

.project-details-project-notes {
  white-space: pre-wrap;
}

.foter {
  background-color: #007bff;
  color: #fff;
  padding: 7px 8%;
  border-radius: 20px;
  margin-right: 15px;
}

.footer-r-button-1 {
  margin-left: 0;
}

/* Add the following styles to your CSS file */

/* Styles for the modal */
.react-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.react-modal-content {
  max-width: 80%; /* Adjust as needed */
  max-height: 70vh; /* Adjust as needed */
}

/* Styles for the expanded image */
.expanded-image {
  width: 100%;
  height: 80%;
  object-fit: contain; /* Adjust as needed */
}

.closeImgModal {
  padding: 5px 7px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

/* .github-file {
  background-color: red;
} */

.github-folder {
  /* background-color: blue; */
  cursor: pointer;
}

.github-code-icon {
  width: 3%;
  margin-right: 5px;
}

.github-back-button {
  background-color: #f6ff00;
  color: #060606;
  padding: 8px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.github-file-or-folder {
  position: absolute;
  margin-top: 5px;
}
