

.addProject{
    color: aliceblue;
}
.add-project-heading {
    text-align: center;
    margin-top: 80px;
    color: white;
}

.add-project {
    width: 50%;
    height: 40px;
    padding-left: 10px;
    font-size: 1.1rem;
    background-color: gainsboro;
    margin-left: 25%;
    border-radius: 10px;
}

.add-project-description {
    background-color: gainsboro;
    width: 50%;
    margin-left: 25%;
    font-size: 1.1rem;
    border-radius: 10px;
}

.add-project-notes {
    background-color: gainsboro;
    width: 50%;
    margin-left: 25%;
    font-size: 1.1rem;
    border-radius: 10px;
}

.add-project-button {
    width: 30%;
    height: 40px;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 35%;
    margin-bottom: 20px;
    color: white;
}

.add-project-input-details {
    margin-left: 25%;
}

.add-project, .add-project-description, .add-project-notes {
  transition: all 0.2s ease-in-out;
}

.add-project:hover, .add-project-description:hover, .add-project-notes:hover {
  background-color: #cccccc;
}

.add-project:focus, .add-project-description:focus, .add-project-notes:focus {
  outline: none;
  background-color: #dad5d5;
}

.add-project-button {
  transition: all 0.2s ease-in-out;
  transform: translateY(0px);
}
.add-project-button:hover {
  cursor: pointer;
}


.add-project-button:active {
  transform: translateY(-5px);
}

.add-project-button {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.add-project-select {
  width: 50%;
  height: 40px;
  font-size: 1.1rem;
  background-color: gainsboro;
  margin-left: 25%;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.add-project-select:hover {
  background-color: #cccccc;
}

.add-project-select:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 5px rgba(227, 212, 212, 0.2);
}

.uploaded-images {
  display: flex;
  margin-top: 10px;
  margin-left: 12%;
}

.add-project-uploaded-image {
  width: 250px;
  height: 250px;
  margin-left: 30px;
}