.card {
  /* background-color: #cfd0d1; */
  background-color: #28293D;
  padding: 10px;
  width: 60em;
  margin: 10px 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.card:hover{
  transform: scale(1.008);
  box-shadow: 0 10px 25px rgba(77, 74, 74, 0.6);
}

/* CARD HEADER */

.card-header {
  display: flex;
  justify-content: space-between;

}

.header-l {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-l-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  margin-right: 10px;
  margin-top: 5px;
}

.header-l-a {
  /* text-decoration: none; */
  color: #000;
  margin-right: 5px;
  font-weight: bold;
  color: white;
}

.header-l-p {
  margin-right: 5px;
}

.header-r {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #555;
  margin-right: 30px;

}

.header-r .green {
  background-color: #16FF00;
  color: black;
}

.header-r .yellow {
  background-color: #f6ff00;
  color: black;
}

.header-r .red {
  background-color: red;
}


.header-date {
  margin-right: 15px;
  color: #CCCCCC;
}

/* .header-r-icons {

  } */

.bookmark-icon {
  margin: 0 15px;
  color: #fff200;     
  /* color: #CCCCCC; */
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.bookmark-icon:hover {
  /* color: #6a6501; */
  color: #FFFB73;
  transform: scale(1.08);
}

.github-icon {
  /* color: #000;x */
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin: 0 15px;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.github-icon:hover {
  /* color: #0a01016c; */
  transform: scale(1.08);
}
.header-r-p {
  margin-left: 15px;
  background-color: #53c66c;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
}

/* CARD CONTENT */

.card-content-p {
  padding: 0 60px;
  margin: 4px 0;
}

/* CARD FOOTER */
.card-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;

}

.footer-l{
    display: flex;
    align-items: center;
}
.footer-l-p{
    background-color: #007bff;
  color: #fff;
  padding: 5px 15%;
  border-radius: 20px;
  margin-right: 15px;
}

.footer-r{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.footer-r-button {
    /* background-color: #f6ff00; */
    /* background-color: #30314A; */
    background-color: #CCCCCC;
    /* background-color: #FFF7D4; */
    /* background-color: #FFF7D4; */
    color: #060606;
    padding: 8px 20px;
    margin-left: 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .footer-r-button:hover {
    /* background-color: #a4b300;  */
    background-color: #A0A0A0;
  }

  .working-button{
    /* background-color:#de330c; */
    /* background-color:#38E54D; */
    /* background-color:#CCCCCC; */
    /* background: white; */
    /* border: 0.5px solid #007bff; */
    background-color: #30314A;
    padding: 8px 55px;
    /* color: #007bff; */
    color: white;
    cursor: not-allowed;
  }

  .working-button:hover {
    background-color: #30314A;
  }

  .no-decor a{
    color: #000;
    text-decoration: none;
  }
  