.nav {
  /* background-color: #bcb5b5; */
  /* background-color: #B151F2; */
  /* background-color: #9400FF; */
  /* background-color: #6527be; */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  height: 5%;
  z-index: 1;
  /* reduced navbar height to make for fixed navbar */
  /* background: #ffe259; 
  background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
  background: linear-gradient(to right, #ffa751, #ffe259); */

  background: #0052D4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.nav h1 {
  color: #000000;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin: 0 0 0 30px;
}
.nav a {
  color: #000000;
  font-family: "McLaren", cursive;
  font-weight: 200;
  margin: 0 0 0 30px;
  text-decoration: none;
  font-size: 35px;
}

.nav-r {
  display: flex;
  align-items: center;
  margin-right: 60px;
  margin-left: 0px;
}

.search {
  height: 20px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: #6527be;
  border-radius: 10px;
  align-items: center;
  transition: 0.8s;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.search-btn {
  text-decoration: none;
  border: none;
  background: none;
}

.search-btn svg {
  font-size: 18px;
  color: #000000;  
}

.search-btn:hover {
cursor: pointer;
}

.search input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.9s;
  background: transparent;
  font-family: "McLaren", cursive;
  font-size: 16px;
  width: 240px;
  background: white;
}

/* .search:hover input {
  width: 200px;
  background: white;
} */

.search a {
  color: #000000;
  font-size: 18px;
}

/* .nav-r input {
    padding: 8px 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: -70px;
    outline: none;
  } */

/* .nav-r button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    outline: none;
    margin-right: 20px; 
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

  } */

/* .nav-r button:hover {
    background-color: #0056b3;
    transform: scale(1.1); 

  } */

.icons {
  display: flex;
  align-items: center;
}

.icon-notification {
  margin-left: 20px;
  font-size: 25px;
  color: #dfd515;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.icon-notification:hover {
  color: #e9e68d;
  transform: scale(1.1);
}

.icon-chat {
  margin-left: 20px;
  font-size: 25px;
  color: #080808;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.icon-chat:hover {
  color: #e1c2c2;
  transform: scale(1.1);
}

.icon-profile {
  margin-left: 20px;
  font-size: 25px;
  color: #080808;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.icon-profile:hover {
  color: #9cc9fa;
  transform: scale(1.1);
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.4);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.chat-links {
  display: block;
}

.chat-links a {
  display: block;
  margin-top: 6px;
  font-size: 24px;
  margin-left: 10px;
}
.light-link {
  color: #542020; /* Adjust the color to make it lighter */
  text-decoration: none;
  margin-left: 0px;
}

.light-link:hover {
  color: #666; /* Adjust the color for the hover state, if desired */
}

.search-link-a a{
  font-size: 24px;
  size: 25px;
  margin-left: 7px;
  color: #5c5a5a;
  &:hover {
    color: #0f2037;
  }
}

.search-link a{
  text-decoration: none;
  font-size: 26px;
  color: #494848;
  margin-left: 15px;
  &:hover {
    color: #0f2037;
  }
}

.user-name{
  display: flex;
  align-items: center;
  margin-top: 7px;
  &:hover{
    background-color: #e1e1e1;
    border-radius: 7px;
  }
}

.search-h3{
  margin-top: 0;
  margin-bottom: 5px;
  /* font-size: 21px; */
}

.user-svg{
  margin-left: 7px;
  height: 21px;
  width: 21px;
}

.modal-content {
  position: absolute;
  /* top: 21.7%; */
  top: 40%;
  left: 80%;
  height: 500px;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 380px;
  overflow: scroll;
}

.search-modal-content {
  position: absolute;
  /* top: 21.7%; */
  top: 44.8%;
  left: 75%;
  height: 500px;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  /* border-radius: 3px; */
  border-radius: 10px;
  max-width: 380px;
  min-width: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notification-modal-content {
  position: absolute;
  /* top: 21.7%; */
  top: 44.8%;
  left: 79%;
  height: 500px;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  /* border-radius: 3px; */
  border-radius: 10px;
  max-width: 600px;
  min-width: 380px;
  overflow-y: scroll;
}

/* .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
} */

/* Keyframes for the button's hover animation */
/* @keyframes pulse {
  from {
    transform: scale(1);
    background-color: #4CAF50;
  }
  to {
    transform: scale(1.1);
    background-color: #69F0AE;
  }
} */

.close-modal {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 5px 7px;
  /* background-color: rgb(149, 175, 76); */
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;

  /* Add the hover animation */
  &:hover {
    
      animation: scaleUp 0.4s ease-in-out;
      background-color: #418fe3;
    
  }
  /* &:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  } */
}

/* @keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
} */

/* @keyframes border-grow {
  from {
    border-width: 0px;
  }
  to {
    border-width: 3px;
  }
} */

/* @keyframes text-pulse {
  from {
    color: white;
    font-size: 16px;
    opacity: 1;
  }
  to {
    color: #69F0AE;
    font-size: 18px;
    opacity: 0.8;
  }
} */

/* @keyframes shadow-grow {
  from {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
  to {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
} */

@keyframes pulse-color {
  from {
    transform: scale(1);
    background-color: #4caf50;
  }
  25% {
    transform: scale(1.1);
    background-color: #69f0ae;
  }
  50% {
    transform: scale(1);
    background-color: #69f0ae;
  }
  75% {
    transform: scale(1.1);
    background-color: #4caf50;
  }
  to {
    transform: scale(1);
    background-color: #4caf50;
  }
}

.chat-link {
  display: flex;
  margin-top: 5px;
  /* background-color: red; */
}

.chat-link img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 5px;
}

.chat-links p {
  margin-left: 10px;
}

.user-name-chat{
  &:hover{
    background-color: #e1e1e1;
    border-radius: 7px;
  }
}



.profile-modal-content {
  position: absolute;
  top: 16.5%;
  left: 93%;
  height: 80px;
  transform: translate(-50%, -50%);
  line-height: 1;
  background: #f1f1f1;
  padding: 14px 14px;
  /* border-radius: 3px; */
  border-radius: 10px;
  max-width: 300px;
  min-width: 100px;
}


.profile-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-options a{
  margin: 0;
}

.user-options{
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}


.profile-options button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.profile-options button:hover {
  background-color: #0056b3;
}

.animated-line {
  width: 0;
  height: 2px;
  background-color: #007bff; /* Adjust color as needed */
  transition: width 0.3s ease;
}

/* Add this style for the hover effect on the "Sign Out" option */
#sign-out-option:hover + .animated-line {
  width: 100%;
}
#profile-option:hover + .animated-line {
  width: 100%;
}