
.profile-picture-preview {
    height: 400px;
    width: 400px;
    margin-top: 220px;
}

.dropzone {
    width: 51%;
    height: 200px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    margin-left: 25%;
    color: white;
}